@keyframes shake {
    from { transform: translate(0, 0); }
    to { transform: translate(2px, -2px); }
}

@keyframes flicker {
    from { text-shadow: 0 0 5px #ff0000; }
    to { text-shadow: 0 0 15px #8b0000; }
}

h1.demon {
    animation: flicker 1.5s infinite alternate;
}

body.demon {
    animation: shake 0.5s infinite alternate;
} перший
